.logo{
display: block;
margin: 0 auto;
width: 1250px;
margin-bottom: 30px
}
.tabletitle{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.firsttab{
    
    margin: 20px auto;
    border-collapse: collapse;
    border-color: white;
    margin-bottom: 50px;
    border-width: 5px;
    border-color: rgb(2, 10, 61);
}
body{
font-family: Arial,sans-serif;
text align: centre;
background-color: #f4f4f4;
margin: 0;
padding: 20px;
}

.secondtab{
    margin-top: 50px;
    margin: 20px auto;


}
.secondtab th {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(2, 10, 61);
    color: white;
}
.firsttab th {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(2, 10, 61);
    color: white;
    border-color: aliceblue;
}

.lunch {
    
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
table, th, td {
    border: 2px solid black; 
    border-collapse: collapse; 
    padding: 10px; 
    text-align: center; 
}
.mentor{
    color: rgba(237, 251, 251, 0.817);
    background-color: rgb(74, 234, 220);
    font-weight: bold;
}
.firsttab td:first-child {
    background-color: rgb(2, 10, 61);
    color: rgb(238, 240, 242);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-color: aliceblue;
}

header h1 {
    margin-bottom: 0px;
}